<div class="flex m-auto">
    <div class="flex mx-auto container">
      <div
        class="flex m-auto gap-4 lg:gap-6 w-full overflow-y-hidden"
      >
        <div
          class="hidden md:flex flex-col p-4 pt-20 mt-6  sticky top-0 w-1/6 md:w-1/4 hover:overflow-auto"
        >
          <!-- <app-sidebar class="h-full"></app-sidebar> -->
        </div>
        <div class="w-full py-10 overflow-y-auto h-[calc(80vh)]">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
